<div class="new-session">
  <div class="app-description">
    <h1>Create surveys in less than a minute</h1>
    <p>SurveyCat is the easiest way to build surveys and get immediate results.</p>
    <p>Sign-in with your email, <%= link_to "create an account", new_user_path %>, or use the provided guest credentials to explore.</p>
  </div>
  <div class="signup-form">
    <%= form_for :session, url: session_path do |form| %>
      <div>
      <%= form.label :email %>
      <%= form.email_field :email, value:"guest@example.com" %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password, value:"password" %>
    </div>
    <div>
      <%= form.submit "Sign in" %>
    </div>
  <% end %>
  </div>
</div>
<div class="sessions-lower-half">
  <div class="icons">
    <%= render "refills/icon_bullet_points" %>
  </div>
</div>
