<div class="new-session">
  <div class="app-description">
    <h1>Create surveys in less than a minute</h1>
    <p>SurveyCat is the easiest way to build surveys and get immediate results.</p>
    <p>Create a new account or <%= link_to "sign-in", new_session_path %> using the provided guest credentials to explore.</p>
  </div>
  <div class="signup-form">
<%= form_for @user do |form| %>

  <% if @user.errors.any? %>
    <%= pluralize(@user.errors.count, "error") %> prevented your account from being created:
    <ul>
      <% @user.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign up" %>
  </div>
<% end %>
</div>
</div>
<div class="sessions-lower-half">
  <div class="icons">
    <%= render "refills/icon_bullet_points" %>
  </div>
</div>
