<div class="survey-display">
  <%= @survey.name %>
</div>

<div>
  <%= link_to "Add Text Question", new_survey_text_style_path(@survey) %>
  <%= link_to "Add Multi-Choice  Question", new_survey_multi_choice_style_path(@survey) %>
</div>

<div>
  <ul>
  <% @survey.questions.each do |question| %>
    <li><%= question.style.body %></li>
    <li><%= question.options %></li>
  <% end %>
</ul>
</div>
